.dep-box{
  width: 265px;
  height: 244px;
  background-color: white;

}

i{
  font-size: 45px;
  padding-bottom: 28px;
}

p{
  font-weight: bold;
  font-size: 24px;

}

.selected{
  background-color: yellow;
}
